<div id="branding">
    <div class="floatleft">
        <img src="__PUBLIC__/img/logo.png" alt="Logo" /></div>
    <div class="floatright">
        <div class="floatleft">
            <img src="__PUBLIC__/img/img-profile.jpg" alt="Profile Pic" /></div>
        <div class="floatleft marginleft10">
            <ul class="inline-ul floatleft">
                <li>Hello Admin</li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
            <br />
            <span class="small grey">Last Login: 3 hours ago</span>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<div class="grid_12">
    <ul class="nav main">
        <li class="ic-dashboard"><a href="javascript:;" data-id="1" class="level_one"><span>内容管理</span></a> </li>
        <li class="ic-form-style"><a href="javascript:;" data-id="2" class="level_one"><span>个人办公</span></a> </li>
        <li class="ic-gallery"><a href="javascript:;" data-id="3" class="level_one"><span>客户管理</span></a> </li>
        <li class="ic-charts"><a href="javascript:;" data-id="4" class="level_one"><span>员工管理</span></a> </li>
        <li class="ic-grid-tables"><a href="javascript:;" data-id="5" class="level_one"><span>社保管理</span></a> </li>
    </ul>
</div>