<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a></div>
<div class="clear">
</div>
<div class="grid_2">
    <div class="box sidemenu">
        <div class="block" id="section-menu-1" style="display: block;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">公告管理</a>
                    <ul class="submenu">
                        <li>
                            <a class="J_menuItem" href="javascript:;" data-url="{:url('Index/content')}">公告一览</a>
                        </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Index/content1')}">公告维护</a> </li>

                    </ul>
                </li>
                <li><a class="menuitem">新闻管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Index/content2')}">新闻一览</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Index/content3')}">新闻维护</a> </li>                  </ul>
                </li>
                <li><a class="menuitem">规章制度管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Index/content7')}">规章制度一览</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Index/content8')}">规章制度维护</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">知识共享</a>
                    <ul class="submenu">
                        <li><a>知识共享一览</a> </li>
                        <li><a>知识共享维护</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">内部邮箱管理</a>
                    <ul class="submenu">
                        <li><a>收件箱</a> </li>
                        <li><a>发件箱</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="block" id="section-menu-2" style="display: none;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">流程审批</a>
                    <ul class="submenu">
                        <li><a>待办事项</a> </li>
                        <li><a>流转监控</a> </li>
                        <li><a>历史单据</a> </li>

                    </ul>
                </li>
                <li><a class="menuitem">个人设置</a>
                    <ul class="submenu">
                        <li><a>用户密码修改</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">工作计划管理</a>
                    <ul class="submenu">
                        <li><a>工作计划提交</a> </li>
                        <li><a>工作计划评分</a> </li>
                        <li><a>工作计划查询</a> </li>
                        <li><a>工作计划分类</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">工作日志管理</a>
                    <ul class="submenu">
                        <li><a>工作日志提交</a> </li>
                        <li><a>工作日志评分</a> </li>
                        <li><a>工作日志查询</a> </li>
                        <li><a>工作日志分类</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">通讯录管理</a>
                    <ul class="submenu">
                        <li><a>个人通讯录</a> </li>
                        <li><a>个人通讯录类型</a> </li>
                        <li><a>企业通讯录</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="block" id="section-menu-3" style="display: none;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">客户管理</a>
                    <ul class="submenu">
                        <li>
                            <a class="J_menuItem" href="javascript:;" data-url="{:url('Index/content')}" rel="{:url('Index/content')}">用工单位维护</a>
                        </li>
                        <li><a>用工单位合同维护</a> </li>
                        <li><a>供应商信息维护</a> </li>
                        <li><a>供应商合同管理</a> </li>
                        <li><a>供应商综合查询</a> </li>
                        <li><a>客户跟进</a> </li>
                        <li><a>公共客户</a> </li>
                        <li><a>客户跟进记录查询</a> </li>
                        <li><a>待审批客户</a> </li>
                        <li><a>删除客户</a> </li>
                        <li><a>客户跟进统计</a> </li>
                        <li><a>求职需求查询</a> </li>
                        <li><a>跟进费用统计</a> </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="block" id="section-menu-4" style="display: none;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">劳务派遣管理</a>
                    <ul class="submenu">
                        <li><a>派遣在职员工</a> </li>
                        <li><a>派遣离职员工</a> </li>

                    </ul>
                </li>
                <li><a class="menuitem">人员合同管理</a>
                    <ul class="submenu">
                        <li><a>人员合同维护</a> </li>
                        <li><a>人员合同审核</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">派遣人员离职管理</a>
                    <ul class="submenu">
                        <li><a>人员离职维护</a> </li>
                        <li><a>人员离职审核</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">人员异动管理</a>
                    <ul class="submenu">
                        <li><a>调用工单位</a> </li>
                        <li><a>调员工岗位</a> </li>
                        <li><a>调员工薪资</a> </li>
                        <li><a>人员批量移动</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">人员报表</a>
                    <ul class="submenu">
                        <li><a>派遣人员月报表</a> </li>
                        <li><a>派遣人员日报表</a> </li>
                        <li><a>离职人员统计分析</a> </li>
                        <li><a>离职原因统计分析</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="block" id="section-menu-5" style="display: none;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">人员社保管理</a>
                    <ul class="submenu">
                        <li>
                            <a class="J_menuItem" href="javascript:;" data-url="{:url('Index/content')}" rel="{:url('Index/content')}">社保增员办理</a>
                        </li>
                        <li><a>人员社保信息维护</a> </li>
                        <li><a>人员社保变更执行</a> </li>
                        <li><a>人员社报变更记录</a> </li>
                        <li><a>员工保险费用补缴</a> </li>

                    </ul>
                </li>
                <li><a class="menuitem">五险一金管理</a>
                    <ul class="submenu">
                        <li><a>保险费用计算</a> </li>
                        <li><a>保险费用查询</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>