<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a></div>
<div class="clear">
</div>
<div class="grid_2">
    <div class="box sidemenu">
        <div class="block" id="section-menu-1" style="display: block;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">公告管理</a>
                    <ul class="submenu">
                        <li>
                            <a class="J_menuItem" href="javascript:;" data-url="{:url('Announcement/view_index')}">公告一览</a>
                        </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Announcement/maintenance_index')}">公告维护</a> </li>

                    </ul>
                </li>
                <li><a class="menuitem">新闻管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('News/view_index')}">新闻一览</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('News/maintenance_index')}">新闻维护</a> </li>                  </ul>
                </li>
                <li><a class="menuitem">规章制度管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('RulesRegulations/view_index')}">规章制度一览</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('RulesRegulations/maintenance_index')}">规章制度维护</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">知识共享</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Knowledge/maintenance_index')}">知识共享一览</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Knowledge/maintenance_index')}">知识共享维护</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">内部邮箱管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Email/received')}">收件箱</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Email/send')}">发件箱</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="block" id="section-menu-2" style="display: none;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">流程审批</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Process/wait_index')}">待办事项</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Process/flow_monitoring')}">流转监控</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Process/historical_documents')}">历史单据</a> </li>

                    </ul>
                </li>
                <li><a class="menuitem">个人设置</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Personal/index')}">用户密码修改</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">工作计划管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('WorkPlan/submit_index')}">工作计划提交</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('WorkPlan/score_index')}">工作计划评分</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('WorkPlan/select_index')}">工作计划查询</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('WorkPlan/classification_index')}">工作计划分类</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">工作日志管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('WorkLog/submit_index')}">工作日志提交</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('WorkLog/score_index')}">工作日志评分</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('WorkLog/select_index')}">工作日志查询</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('WorkLog/classification_index')}">工作日志分类</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">通讯录管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('AddressBook/personal_index')}">个人通讯录</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('AddressBook/type_index')}">个人通讯录类型</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('AddressBook/enterprise_index')}">企业通讯录</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="block" id="section-menu-3" style="display: none;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">客户管理</a>
                    <ul class="submenu">
                        <li>
                            <a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/unit_maintenance_index')}">用工单位维护</a>
                        </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/contract_maintenance_index')}">用工单位合同维护</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/supplier_information_maintenance_index')}">供应商信息维护</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/supplier_contract_management_index')}">供应商合同管理</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/supplier_comprehensive_enquiries_index')}">供应商综合查询</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/customer_tracking_index')}">客户跟进</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/common_customer_index')}">公共客户</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/customer_tracking_log')}">客户跟进记录查询</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/customer_pending_index')}">待审批客户</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/delete_customer_index')}">删除客户</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/customer_tracking_count')}">客户跟进统计</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/job_search')}">求职需求查询</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Customer/cost_statistic')}">跟进费用统计</a> </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="block" id="section-menu-4" style="display: none;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">劳务派遣管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('LaborDispatch/employees_index')}">派遣在职员工</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('LaborDispatch/departure_index')}">派遣离职员工</a> </li>

                    </ul>
                </li>
                <li><a class="menuitem">人员合同管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Contract/maintenance_index')}">人员合同维护</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Contract/audit_index')}">人员合同审核</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">派遣人员离职管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Departure/maintenance_index')}">人员离职维护</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Departure/audit_index')}">人员离职审核</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">人员异动管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('ParticularChanges/company_index')}">调用工单位</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('ParticularChanges/worker_index')}">调员工岗位</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('ParticularChanges/salary_index')}">调员工薪资</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('ParticularChanges/batch_move')}">人员批量移动</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem">人员报表</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Report/month_index')}">派遣人员月报表</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Report/day_index')}">派遣人员日报表</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Report/personal_count')}">离职人员统计分析</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Report/reason_index')}">离职原因统计分析</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="block" id="section-menu-5" style="display: none;">
            <ul class="section menu left-menu-1">
                <li><a class="menuitem">人员社保管理</a>
                    <ul class="submenu">
                        <li>
                            <a class="J_menuItem" href="javascript:;" data-url="{:url('SocialSecurity/increase_index')}">社保增员办理</a>
                        </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('SocialSecurity/maintenance_index')}">人员社保信息维护</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('SocialSecurity/perform_index')}">人员社保变更执行</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('SocialSecurity/log_index')}">人员社报变更记录</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('SocialSecurity/pay_index')}">员工保险费用补缴</a> </li>

                    </ul>
                </li>
                <li><a class="menuitem">五险一金管理</a>
                    <ul class="submenu">
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Insurance/count_index')}">保险费用计算</a> </li>
                        <li><a class="J_menuItem" href="javascript:;" data-url="{:url('Insurance/select_index')}">保险费用查询</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>